@tailwind base;
@tailwind components;
@tailwind utilities;

.login {
  background: linear-gradient(
      to bottom,
      rgba(11, 52, 200, 0.516),
      rgba(19, 28, 61, 0.516)
    ),
    url("./images/image-auth.png");
  background-size: cover; /* Adjusts the size of the background image */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* smooth scroll  */
  scroll-behavior: smooth;
}

.header {
  @apply w-full fixed z-50 inset-0 h-20 m-0 bg-[#1C1E53]
        flex justify-between items-center md:px-10 lg:px-16 px-3;
}

.header.move {
  @apply bg-[#1C1E53] shadow-xl transition-all duration-1000;
}

.container {
  @apply w-full mx-auto md:w-[90%] lg:w-[80%] p-5;
}

.numberStyling::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 7px;
  height: 30px;
  background-color: #fcd980;
  border-radius: 0px 5px 0 0;
}
